<div class="row container">
    <h4>Login</h4>

    <div class="card-panel">
        <form ng-submit="vm.login()">
            <div class="row">
                <div class="input-field col s12">
                  <input id="username" type="text" class="validate" ng-model="vm.form.username" ng-required="true">
                  <label for="username">Username</label>
                </div>
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" ng-model="vm.form.password" ng-required="true">
                  <label for="password">Password</label>
                </div>

                <div class="input-field col s12">
                    <button type="submit" class="waves-effect waves-light btn right">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>