<div class="row container">
    <h4>Register</h4>

    <div class="card-panel">
        <form ng-submit="vm.register()">
            <div class="row">
                <div class="input-field col s12">
                  <input id="username" type="text" class="validate" ng-model="vm.form.username" ng-required="true">
                  <label for="username">Username</label>
                </div>
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" ng-model="vm.form.password" ng-required="true">
                  <label for="password">Password</label>
                </div>
                <div class="input-field col s12">
                  <input id="confirm_password" type="password" class="validate" ng-model="vm.form.confirm_password" ng-required="true">
                  <label for="confirm_password">Confirm password</label>
                </div>
                <div class="input-field col s12">
                    <button type="submit" class="waves-effect waves-light btn right">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>