<div class="row">

        <table class="bordered highlight centered">
            <thead>
                <tr>


                    <td>Date From: <input type="text" ng-model="fromDate"></td>
                    <td>To: <input type="text" ng-model="toDate"></td>
                    <td></td>
                    <td>
                        <div class="">
                            <div class="card">
                                <div class="card-content">
                                    <span class="card-title">
                                        Report for last 7 days
                                    </span>
                                    <p>Average Speed: {{ vm.avg_speed | number }} Km/h</p>
                                    <p>Distance: {{ vm.distance | number }} Km</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-floating btn-large right" style="bottom: 10px;" onclick="$('#modal1').openModal();"><i class="mdi-content-add"></i></button>
                    </td>

                </tr>
                <tr>
                    <th>Date (YYYY-MM-DD)</th>
                    <th>Time (HH:MM:SS)</th>
                    <th>Distance (Km)</th>
                    <th>Average Speed (Km/h)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="animate-repeat" ng-repeat="entry in vm.entries | dateFilter:fromDate:toDate | orderBy:'-date'" >
                    <td ng-hide="vm.editEntry && vm.editEntry.id == entry.id">{{ entry.date }}</td>
                    <td ng-hide="vm.editEntry && vm.editEntry.id == entry.id">{{ entry.time }}</td>
                    <td ng-hide="vm.editEntry && vm.editEntry.id == entry.id">{{ entry.distance }}</td>
                    <td ng-hide="vm.editEntry && vm.editEntry.id == entry.id">{{ entry.avg_speed }}</td>
                    <td ng-hide="vm.editEntry && vm.editEntry.id == entry.id">
                        <a href="javascript:void(0)" class="btn" ng-click="vm.edit(entry.id)">Edit</a>
                        <a href="javascript:void(0)" class="btn red" ng-click="vm.destroy(entry.id)">Delete</a>
                    </td>

                    <!-- EDIT FIELDS -->
                    <td ng-if="vm.editEntry && vm.editEntry.id == entry.id"><input id="date_edit" type="text" ng-model="vm.editEntry.date"  /></td>
                    <td ng-if="vm.editEntry && vm.editEntry.id == entry.id"><input id="time_edit" type="text" ng-model="vm.editEntry.time"/></td>
                    <td ng-if="vm.editEntry && vm.editEntry.id == entry.id"><input id="distance_edit" type="number" ng-model="vm.editEntry.distance" /></td>
                    <td ng-if="vm.editEntry && vm.editEntry.id == entry.id"></td>
                    <td ng-if="vm.editEntry && vm.editEntry.id == entry.id">
                        <a href="javascript:void(0)" class="btn" ng-click="vm.update()">Save</a>
                        <a href="javascript:void(0)" class="btn green" ng-click="vm.cancel()">Cancel</a>
                    </td>
                </tr>


                <tr ng-hide="vm.entries && vm.entries.length">
                    <td colspan="5"><div>There is no entries</div></td>
                </tr>
            </tbody>
        </table>


</div>



 <div id="modal1" class="modal">
     <form ng-submit="vm.save()">
    <div class="modal-content">
      <h4>New Entry</h4>
        <div class="input-field col s6">
            <input id="date" type="text" ng-model="vm.tempEntry.date" class="validate" required="true"/>
            <label for="date">Date (YYYY-MM-DD)</label>
        </div>
        <div class="input-field col s6">
            <input id="time" type="text" ng-model="vm.tempEntry.time"  required="true"/>
            <label for="time">Time (HH:MM:SS)</label>
        </div>
        <div class="input-field col s6">
            <input id="distance" type="number" ng-model="vm.tempEntry.distance" required="true" />
            <label for="distance">Distance</label>
        </div>
    </div>
     <div class="clearfix"></div>
    <div class="modal-footer">
      <button class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
      <button type="submit" class=" modal-action waves-effect waves-green btn-flat" >Save</button>
    </div>
     </form>
  </div>