<div class="row container">
    <div class="row">
        <h4 class="inline">{{ vm.user.username }}</h4>
        <a href="/+{{ vm.user.username }}/edit" class="waves-effect waves-light btn right">Edit</a>
    </div>
    <div class="card-panel">
        <table>
            <tr><td>First Name</td><td>{{ vm.user.first_name }}</td></tr>
            <tr><td>Last Name</td><td>{{ vm.user.last_name }}</td></tr>
            <tr><td>Email</td><td>{{ vm.user.email }}</td></tr>
            <tr><td>Is Admin</td><td>{{ vm.user.roles.is_admin }}</td></tr>
            <tr><td>Is Manager</td><td>{{ vm.user.roles.is_manager }}</td></tr>
        </table>
    </div>
</div>