<div class="row">
        <button class="btn btn-floating btn-large right" style="bottom: 10px;" onclick="$('#modal1').openModal();"><i class="mdi-content-add"></i></button>
    <table class="bordered highlight centered">
            <thead>

                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Is Manager</th>
                    <th>Is Admin</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="animate-repeat" ng-repeat="user in vm.users" >
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td > <i ng-class="{'mdi-action-done small': user.roles.is_manager, 'mdi-navigation-cancel': !user.roles.is_manager }"></i> </td>
                    <td><i ng-class="{'mdi-action-done small': user.roles.is_admin, 'mdi-navigation-cancel': !user.roles.is_admin }"></i></td>
                    <td>
                        <a href="/+{{ user.username }}/edit" class="waves-effect waves-light btn" >Edit</a>

                        <a href="/+{{ user.username }}/entries" class="waves-effect waves-light btn" ng-if="vm.authenticatedUser.roles.is_admin">Entries</a>
                    </td>

                <tr ng-hide="vm.users && vm.users.length">
                    <td colspan="6"><div>There is no users</div></td>
                </tr>
            </tbody>
        </table>


</div>



 <div id="modal1" class="modal">
     <form ng-submit="vm.register()">
    <div class="modal-content">
      <h4>New User</h4>

            <div class="row">
                <div class="input-field col s12">
                  <input id="username" type="text" class="validate" ng-model="vm.form.username" ng-required="true">
                  <label for="username">Username</label>
                </div>
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" ng-model="vm.form.password" ng-required="true">
                  <label for="password">Password</label>
                </div>
                <div class="input-field col s12">
                  <input id="confirm_password" type="password" class="validate" ng-model="vm.form.confirm_password" ng-required="true">
                  <label for="confirm_password">Confirm password</label>
                </div>
                <div class="input-field col s6">
                    <input id="first_name" type="text" ng-model="vm.form.first_name" >
                    <label for="first_name"">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" ng-model="vm.form.last_name">
                    <label for="last_name">Last Name</label>
                </div>

                <div class="input-field col s12">
                    <input id="last_name" type="email" class="validate" ng-model="vm.form.email">
                    <label for="email" >Email</label>
                </div>
                <div class="input-field col s12">
                    <input id="is_admin" type="checkbox" ng-model="vm.form.roles.is_admin" ng-disabled="!vm.authenticatedUser.roles.is_admin">
                    <label for="is_admin">Is Admin</label>
                </div>
                <div class="input-field col s12">
                    <input id="is_manager" type="checkbox" ng-model="vm.form.roles.is_manager" ng-disabled="!(vm.authenticatedUser.roles.is_admin || vm.authenticatedUser.roles.is_manager)">
                    <label for="is_manager">Is Manager</label>
                </div>
            </div>

     <div class="clearfix"></div>
    <div class="modal-footer">
      <button class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
      <button type="submit" class=" modal-action waves-effect waves-green btn-flat" >Add</button>
    </div>

  </div>
         </form>
</div>