<!DOCTYPE html>
<html ng-app="jogging">
<head>
  <title>Jogging Tracker</title>

  <base href="/" />

  {% include 'stylesheets.html' %}

    <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
  {% include 'navbar.html' %}

  <div>
    <div class="row">
      <div class="col s12 ng-view">


     </div>
    </div>
  </div>

  {% include 'javascripts.html' %}
</body>
</html>