{% load compress %}
{% load staticfiles %}

{% compress js %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-cookies.min.js' %}"></script>

{#<script type="text/javascript" src="{% static 'js/ngDialog.min.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>#}

<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jogging/jogging.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jogging/jogging.config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jogging/jogging.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jogging/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jogging/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jogging/authentication/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jogging/authentication/controllers/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jogging/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jogging/profiles/profile.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jogging/profiles/controllers/profile.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jogging/profiles/controllers/admin.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jogging/profiles/controllers/profile_edit.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jogging/profiles/services/profile.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jogging/entries/entries.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jogging/entries/controllers/user_entries.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jogging/entries/services/entries.services.js' %}"></script>

{% endcompress %}