{% load compress %}
{% load staticfiles %}

{% compress css %}

{#<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">#}

<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}" >

{#<link rel="stylesheet" type="text/css" href="{% static 'css/ngDialog.min.css' %}" />#}
{#<link rel="stylesheet" type="text/css" href="{% static 'css/ngDialog-theme-default.min.css' %}" />#}

{% endcompress %}