 <style>
     .slider{
         min-height: 530px;
         text-shadow: 1px 1px 1px #000;
     }
     .slides li{
         min-height: 500px;
     }
 </style>

  <div class="slider">
    <ul class="slides" >
      <li>
        <img src="/static/img/image4.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3 >The only reason I would take up<br> jogging is so that I could <br>hear heavy breathing again.</h3>
          <h5 class="light grey-text text-lighten-3">Erma Bombeck</h5>
        </div>
      </li>
      <li >
        <img src="/static/img/image2.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Going jogging makes me feel powerful <br>and free - like Rocky!</h3>
          <h5 class="light grey-text text-lighten-3">Jennifer Hudson</h5>
        </div>
      </li>
      <li>
        <img src="/static/img/image1.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Try jogging when following <br>your heart, it's healthier</h3>
          <h5 class="light grey-text text-lighten-3">Benny Bellamacina</h5>
        </div>
      </li>
      <li>
        <img src="/static/img/image3.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>I don’t run errands. Usually I jog.</h3>
          <h5 class="light grey-text text-lighten-3"> Jarod Kintz</h5>
        </div>
      </li>
    </ul>
  </div>